# Ruby
# Package your Ruby project.
# Add steps that install rails, analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/ruby

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: UseRubyVersion@0
    inputs:
      versionSpec: '2.6.x'

  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        gem install bundler
        bundle install --retry=3 --jobs=4
    displayName: 'Install dependencies'

  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: 'bundle exec rake ci'
    displayName: 'Run unit tests'
    continueOnError: true

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/test*.xml'
      failTaskOnFailedTests: true
    displayName: 'Verify and publish test results'

  - task: ComponentGovernanceComponentDetection@0
    inputs:
      scanType: 'Register'
      verbosity: 'Verbose'
      alertWarningLevel: 'Low'

  - task: ComponentGovernanceComponentDetection@0
    inputs:
      scanType: 'Register'
      verbosity: 'Verbose'
      alertWarningLevel: 'High'
      failOnAlert: true

